
.Modal-bg {
    width: 100%;
    /* position: absolute; */
   
    width: 100%;
    position: absolute;
    bottom: 0;
}



.Modal-Container {
    display: flex;
    background: red;
    min-height: 150px;
    place-items: center;
    place-content: center;
    flex-direction: column;
    opacity: 100%;
    left: 0;
    position: relative;
    border: 5px black solid;
   
   
}

.Modal-btnClose{
  
    position: absolute;
    top: 0;
    right: 0;
    font-size: var(--big);
    padding: 0 10px;
   
}

.Modal-Container p {
    font-size: var(--small);
    font-weight: 800;
    color: var(--white);
    padding: 40px;
    text-align: center;
    line-height: 30px;
    
}

#myModal {
    bottom: 0;
}

